USE [master]
GO
/****** Object:  Database [ToDo]    Script Date: 05/04/2020 14.31.00 ******/
CREATE DATABASE [ToDo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToDo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ToDo.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ToDo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ToDo_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToDo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToDo]
GO
/****** Object:  Table [dbo].[ToDo]    Script Date: 05/04/2020 14.31.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ToDo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[title] [varchar](100) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[expiredDate] [datetime2](7) NOT NULL,
	[percentage] [int] NOT NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/04/2020 14.31.01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[username] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ToDo] ON 

INSERT [dbo].[ToDo] ([Id], [userID], [title], [description], [expiredDate], [percentage], [status]) VALUES (1, 1, N'koding', N'koding', CAST(0x070000000000EF400B AS DateTime2), 10, NULL)
INSERT [dbo].[ToDo] ([Id], [userID], [title], [description], [expiredDate], [percentage], [status]) VALUES (3, 1, N'coba', N'cobaaa', CAST(0x070000000000F6400B AS DateTime2), 100, N'Done')
INSERT [dbo].[ToDo] ([Id], [userID], [title], [description], [expiredDate], [percentage], [status]) VALUES (4, 1, N'rnd', N'rnd', CAST(0x070000000000F7400B AS DateTime2), 0, NULL)
SET IDENTITY_INSERT [dbo].[ToDo] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [name], [username]) VALUES (1, N'Arini', N'arin')
INSERT [dbo].[Users] ([Id], [name], [username]) VALUES (2, N'Caca', N'caca12')
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ToDo]  WITH CHECK ADD  CONSTRAINT [FK_ToDo_Users_userID] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToDo] CHECK CONSTRAINT [FK_ToDo_Users_userID]
GO
USE [master]
GO
